/*-------------Import fonts ---------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway:400,800,900,600,700,500|Montserrat:400,700);
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'Raleway', sans-serif;
}
ul {
  padding-left: 20px;
}
a {
  text-decoration: none;
}
em {
  color: #999;
}
.resume-header {
  background-color: #555;
  color: #FFF;
  overflow: hidden;
}
.contact-details h3 {
  color: #ff007b;
}
.skills-details h3 {
  color: #ffae00;
}
.languages-details h3 {
  color: #798710;
}
.project-details h3 {
  color: #08abd3;
}
.experience-details h3 {
  color: #660da5;
}
.education-details h3 {
  color: #c61919;
}